## Ignore arquivos de build
bin/
obj/
[Ll]og/
*.user
*.suo
*.cache
*.pdb
*.mdb
*.exe
*.dll

## Diretórios do Visual Studio
.vscode/
.vs/

## Arquivos de configuração do Rider/Resharper
.idea/
*.sln.iml

## Configurações locais
*.userprefs
*.csproj.user
*.dbmdl
*.bak
*.tmp

## Pacotes NuGet
*.nupkg
*.snupkg
packages/
# Se você estiver usando o pacote diretamente do .csproj, mantenha a pasta abaixo ignorada:
**/packages/*

## Arquivos gerados
*.generated.cs
Generated_Code/

## Arquivos de publicação
publish/
out/

## Logs
*.log

## Outros
TestResults/
*.vspscc
*.vssscc
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user
.env